
@{
    ViewBag.Title = "Positions Temporaires";
}

<a id="api-typeposs-url" class="d-none" href="@Url.Action("", "api/typeposition/", new { area ="" })"></a>
<a id="api-data-url" class="d-none" href="@Url.Action("", "api/positiontemporaire/", new { area ="" })"></a>
<a id="api-validation-url" class="d-none" href="@Url.Action("", "api/validation/", new { area ="" })"></a>
<a id="api-situation-url" class="d-none" href="@Url.Action("", "api/positiontemporaire/", new { area ="" })"></a>
<div id="page" class="d-none">@ViewBag.page</div>

<div id="app" class="row">
    <div class="col-md-3 bg-lightGray">
        <h4>Situations agents : Listes & Validations </h4>
        <div class="items-list">
            <div class="item">
                <input data-caption="En cours de validité" name="state" type="radio" v-model="state" value="running"
                       data-role="radio">
            </div>
            <div class="item"title="Situations validées mais en attente du début de la période de validité">
                <input data-caption="En attente de la période de validité (0)"  v-model="state" value="comming" 
                       name="state" type="radio" data-role="radio">
            </div>

            <div class="item"title="Situations en attente de validation de début de validité">
                <input data-caption="En attende de validation de debut (0)" v-model="state" value="tovalidate_start" name="state" 
                       type="radio" data-role="radio">
            </div>

            <div class="item"title="Situations en attente de validation de fin de validité">
                <input data-caption="En attente de validation de Fin (0)" v-model="state" value="tovalidate_end" name="state"  
                       type="radio" data-role="radio">
            </div>

            <div class="item"title="Situations en fin de période de validité" >
                <input name="state" v-model="state" value="passed"
                       data-caption="Terminées" type="radio" data-role="radio" >
            </div>
          </div>
    </div>
    <div class="col-md-9">
        <div class="bg-gray p-1">
            <select class="select" v-model="typeposition" v-on:change="loadData()">
                <option v-bind:value="null"> -tous les types de situations- </option>
                <option v-for="item in typespositions" v-bind:value="item" >
                        {{ item.designation }}
                </option>
            </select>
            @*<h5 class="p-1">
                {{ typeposition.designation?typeposition.designation :'-selectionner un type de situation agent-' }}
            </h5>*@
            <input type="search" class="input mt-1 searchField" data-found="#count" data-target="#data" placeholder="Filter la liste" />

        </div>
          <div class="overflow-auto h500 col-12">
            <table id="data" class="table compact row-hover striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date d'enregistrement </th>
                        <th>Type </th>
                        <th>Agent </th>

                        <th>Situation (Déscription) </th>
                        <th>Durée</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in datas" class="searchable" v-bind:data-content="item.agent+item.description+item.periode+item.type_position">
                        <td> {{ index + 1 }}</td>
                        <td>
                            <div v-if="state === 'tovalidate_end'"> {{ item.end_requested_at_string }} </div>
                            <div v-else> {{ item.created_at_string }} </div>
                        </td>
                        <td>{{ item.type_position }}</td>
                        <td class="text-bold" style="min-width:220px">
                            {{ item.agent }}
                            @*<small><strong> <i>{{ item.fonction }}</i></strong>  {{ item.service }}</small>*@
                        </td>
                        <td style="max-width:300px" class="text-bold">
                            {{ item.description }}
                        </td>
                        <td style="min-width:240px">{{ item.periode }}</td>
                        <td>
                            <a title="Situations agents en cours" class="button success outline small mr-1" href="#" v-on:click="showCurrentPositionList(item)"> <i class="mif-user-check"></i></a>
                            <a v-if="state === 'tovalidate_start'|| state === 'tovalidate_end'" title="Valider" href="#" class="button success small" v-on:click="validationForm(item)"> <span class="mif-checkmark"></span> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><span id="postcount"> {{ datas.length }}</span> resultat(s)</p>
        @{Html.RenderPartial("~/Areas/ProfilAgent/Views/Home/_LastPositionList.cshtml"); }
        <div id="validationform" class="dialog" data-role="dialog">
            @{ Html.RenderPartial("_ValidateSituationPartial"); }
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/VueApps/positiontemporaire.js"></script>
}

