<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GRH4HKAT</title>
    <link href="~/Content/metro/css/metro-all.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    @*dev*@
    <div data-role="appbar" data-expand-point="md" class="bg-cyan fg-white">
        @*prod*@
        @* <div data-role="appbar" data-expand-point="md" class="bg-dark fg-white">*@
        <a href="@Url.Action("Index", "Home", new { area=""})" class="brand no-hover">
            <span class="text-it">
                <strong>GRH-HKAT </strong> <span class="p-2 border bd-white">GESTIONS DES EFFECTIFS</span>
            </span>
        </a>
        <ul class="app-bar-menu">
            <li id="mod_profil">
                <a href=#>Profil Agent</a>
            </li>
            <li id="mod_recrutement">
                <a href="@Url.Action("Index", "Recrutement", new { area="Situation" })">Recrutement</a>
            </li>
            <li>
            <li id="mod_admission">
                <a href="@Url.Action("Index", "Admission", new { area="Situation" })">Admission</a>
            </li>
            <li id="mod_prestation">
                <a href="@Url.Action("Index", "Home", new { area="ProfilAgent" })">Prestation</a>
            </li>
            <li>
                <a id="mod_pt" href="#" class="dropdown-toggle">Application</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="@Url.Action("Index", "Home", new { area="PosteEmploi" })">Postes &amp; emplois </a></li>
                    <li><a href="@Url.Action("Index", "Home", new { area="PositionTemporaire" })">Validations des situations</a></li>
                    <li><a href="@Url.Action("Index", "Plannification", new { area="PositionTemporaire" })">Plannifications des situations</a></li>
                    @*<li class="divider bg-lightGray"></li>*@
                </ul>
            </li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="container pos-fixed fixed-bottom">
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Division de l'Informatique</p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/metro")


    @if (TempData["Msg"] != null)
    {
        <script>
        Metro.toast.create('@TempData["Msg"]',null,1000000,'bg-@TempData["MsgType"]')
        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>
