@model DATACCESS.Models.agent_synthese


<div class="card mt-1 shadow-1">
    <div class="card-header bg-gray">
        <strong class="=" @(Model.carriere_id == null ? "fg-red" : "fg-black") ">  @if(Model.carriere_id != null) { <span class="mif mif-done fg-white bg-green p-1"></span> } Matricule</strong> :   @Model.matricule
    </div>
    <div class="card-body p-1 row">
        <div class="col-8">
            <div class="row row-cols-2">
                <div class="col-3 text-bold ">
                    Reférence:
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.carriere_reference)
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-bold">
                    Date d'attribution:
                </div>
                <div class="col">
                    @if (Model.carriere_started_at != null)
                    { @Model.carriere_started_at.Value.ToString("dd/MM/yyyy")}
                </div>
            </div>
        </div>
        <div class="col-4">
            @{Html.RenderAction("ToValidate", "Matricule", new { agent_id = Model.agent_id }); }
           </div>
    </div>
</div>


<div class="card mt-1 shadow-1">
    <div class="card-header bg-gray">
         <strong class=" @(Model.grade_carriere == null ? "fg-red" : "fg-black")"> 
        @if (Model.grade_carriere != null) { <span class="mif mif-done fg-white bg-green p-1"></span>} 
        Grade de carriere</strong>: @Model.grade_carriere_describe
    </div>
    <div class="card-body p-1 row">
        <div class="col-8">
            <div class="row">
                <div class="col-3 text-bold">
                    Reférence:
                </div>
                <div class="col-3">
                    @Html.DisplayFor(model => model.grade_carriere_reference)
                </div>
            </div>
            <div class="row">
                <div class="col text-bold">
                    Date d'attribution:
                </div>
                <div class="col">
                    @if (Model.grade_carriere_started_at != null)
                    { @Model.grade_carriere_started_at.Value.ToString("dd/MM/yyyy")}
                </div>
            </div>
        </div>
        <div class="col-4">
            @{Html.RenderAction("ToValidate", "GradeCarriere", new { agent_id = Model.agent_id }); }
           </div>
    </div>
</div>


<div class="card mt-1 shadow-1">
    <div class="card-header bg-gray">
        <strong class=" @(Model.emploi_id == null?"fg-red":"fg-black")">
            @if (Model.emploi_id != null)
            {<span class="mif mif-done fg-white bg-green p-1"></span>} Emploi
        </strong> : @Model.fonction
    </div>
    <div class="card-body p-1 row">
        <div class="col-8">
            <div class="row">
                <div class="col-3 text-bold">
                    Service:
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.service)
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-bold">
                    Reférence:
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.emploi_reference)
                </div>
            </div>
            <div class="row">
                <div class="col text-bold">
                    Date d'attribution:
                </div>
                <div class="col">
                    @if (Model.emploi_started_at != null)
                    { @Model.emploi_started_at.Value.ToString("dd/MM/yyyy")}
                </div>
            </div>
        </div>
        <div class="col-4">
            @{Html.RenderAction("ToValidate","Emploi", new { agent_id = Model.agent_id }); }
        </div>
    </div>
</div>





