@model DATACCESS.Models.agent_synthese

<div class="card">
    <div class="card-header text-center bg-gray ">
        <h6 class="card-title">@Model.nom_complet</h6>
    </div>

    <div class="card-body text-center">
        <img class="card-img-to " height="200" width="200" src="~/Content/Images/person.png" alt="agent" />
        @if (Model != null)
        {
            @*<div class="text-bold">@Model.fullEmploi()</div>*@
            <div class="text-small m-2"><strong>RECID</strong>: @Model.agent_id <strong>PTGID</strong> :@Model.id_pointage</div>
            <hr />
           
            <div class="bg-lightGray p-1">
                <div class="text-bold text-left mt-2">Situations requises</div>
                <table class="table compact ">
                    <tbody>
                        @foreach (var item in DATACCESS.ModuleAgent.SituationAgentRequiredLoad(Model.agent_id))
                        {
                            <tr>
                                <td>
                                    <i class=" circle border border-radius-20 p-1  @(item.started_at != null? "fg-green bd-green mif-checkmark": "fg-red bd-red mif-cross" )"></i>
                                </td>
                                <td class="text-left">
                                    <span class="text-bold">@item.type_position</span> :    @item.description
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
           
        }
    </div>
</div>

