@model DATACCESS.Models.agent_synthese
 
<table class="table table-sm table-hover m-2">
    <thead>
        <tr>
            <th>#</th>
            <th>Motif</th> 
            <th>Période</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @{var i = 0;}
       @foreach (var item in DATACCESS.ModuleAgent.PositionTemporaireLoad(Model.agent_id, null,null,null))
       {
        <tr>
            <td><span class="fg-white bg-cyan border border-radius-10"> @{++i;} @i</span></td>
            <td style="max-width:150px;">
                <div>@item.Describe</div>
                <div class="text-small fg-white fg-green">@item.state_string</div>
                <div class="text-secondary">@item.details</div>
            </td>

            <td style="width:200px;">@item.periode
                <div>Durée: @(item.duree != 0 ? item.duree + " jour(s)" : " indéterminée ") </div>
            </td>
            <td>@item.ended_at</td>
            <td>
                @{ Html.RenderAction("ToValidate", "PositionTemporaire", new { id = item.id }); }
            </td>
        </tr>
        }
    </tbody>
</table>
